<!-- templates/myapp/base.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Онлайн-Библиотека{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Панель навигации с использованием Bootstrap -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'myapp:home' %}">Библиотека</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Переключатель навигации">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'myapp:home' %}">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'myapp:book_list' %}">Категории</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <!-- Ссылки на вход и регистрацию удалены -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Сообщения -->
    <div class="container mt-3">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <!-- Основное содержимое -->
    <main class="container">
        {% block content %}
        <!-- Содержимое конкретного шаблона -->
        {% endblock %}
    </main>

    <!-- Подвал -->
    <footer class="bg-dark text-white text-center py-3 mt-4">
        <p> 2024</p>
    </footer>

    <!-- Подключение Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
