<!-- myapp/templates/myapp/filters.html -->

{% extends 'myapp/base.html' %}

{% block title %}Фильтрация Книг{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="my-4 text-center">Фильтрация Книг</h1>

    <!-- Кнопка "Вернуться на главную" -->
    <div class="mb-3 text-end">
        <a href="{% url 'myapp:home' %}" class="btn btn-secondary">Вернуться на главную</a>
    </div>

    <!-- Отображение книг -->
    <div class="row">
        {% for book in books %}
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <a href="{% url 'myapp:book_detail' book.id %}" style="text-decoration: none;" class="h-100">
                        <img src="{{ book.cover_image.url }}" class="card-img-top" alt="{{ book.name }}">
                        <div class="card-body">
                            <h5 class="card-title text-center text-secondary-emphasis">{{ book.name }}</h5>
                        </div>
                    </a>
                    {% if book.file %}
                        <div class="card-footer text-center">
                            <a href="{% url 'myapp:download_book' book.id %}" class="btn btn-primary btn-sm">Скачать файл</a>
                        </div>
                    {% else %}
                        <div class="card-footer text-center">
                            <p>Файл не загружен.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <p class="text-center">Книги не найдены.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
